/node_modules
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
/public/assets/img/property/slider-images/
/public/assets/img/property/video/
/public/assets/img/property/thumbnail-images/
